.shopping-center-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.store-image {
  border-radius: 50%;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px; /* Alterado para um valor pequeno */
  padding: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
  background-color: #0056b3;
}

.scroll-to-top i {
  font-size: 20px;
}
