.shopping-center-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.store-image {
  border-radius: 50%;
}

.scroll-to-top {
  display: inline-block;
  padding: 10px 20px;
  background-color: blue; 
  color: white; 
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
  background-color: #999;
}

.scroll-to-top-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.list-container-bottom-left {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.list-container-bottom-left h2 {
  margin-top: 0;
}

.list-container-bottom-left form {
  margin-bottom: 10px;
}

.list-container-bottom-left input {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.list-container-bottom-left button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.list-container-bottom-left button:hover {
  background-color: #45a049;
}

.list-container-bottom-left ul {
  padding-left: 20px;
}

.list-container-bottom-left li {
  list-style-type: disc;
  margin-bottom: 5px;
}
